# Problem 1:

In [1]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

# executing asked statements
b()
b()
b()
a

6

The final output of the above code is 6.
We are calling function b thrice before finally looking for the value of a.
Each time b is called a is incremented by 2, as the initially a is assigned a integer value, i.e. 0, so when b() is called for the first time the interpreter goes into function c and a is updated to 2, the second time we call b() a is incremented to 4 and similarly, when we call b() for the third time a which was 4 is incremented by 2 and updated as 6.

# Problem 2:

In [2]:
def fileLength(fileName: str):
    try:
        file = open(fileName)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {fileName} not found.")

In [3]:
fileLength("fileLength.txt")

123

In [4]:
fileLength("ileLength.txt")

File ileLength.txt not found.

# Problem 3:

In [5]:
class Marsupial:
    
    def __init__(self):
        self.itemList = []

    def put_in_pouch(self, item: str):
        self.itemList.append(item)

    def pouch_contents(self):
        print(self.itemList)

In [6]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [7]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
class Kangaroo(Marsupial):
    
    def __init__(self, x, y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __repr__(self):
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'

In [9]:
k = Kangaroo(0,0) 
print(k)

I am a Kangaroo located at coordinates (0,0)

In [10]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [11]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Problem 4:

In [12]:
def collatz(n: int):       
    if n > 1:
        print(n)
        if n % 2 == 0:
            n = n//2
        else:
            n = 3*n + 1
        collatz(n)
    else:
        print(n)

In [13]:
collatz(10)

10
5
16
8
4
2
1

# Problem 5:

In [14]:
def binary(number: int):
    if number <= 0:
        print(0)
        return
    elif number > 1:
        binary(number//2)
    
    print(number % 2, end = '')

In [15]:
binary(0)

0

In [16]:
binary(1)

1

In [17]:
binary(3)

11

In [18]:
binary(9)

1001

# Problem 6:

In [19]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    h1 = False
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.h1 = True
             
    def handle_data(self, data):
        if self.h1:
            print(data, end='')

In [20]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

# Problem 7:

In [21]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
                        
                        
    def getLinks(self):
        return self.links   
    
## used this function from class

In [22]:
def webdir(url: str, depth: int, indent: int):
    print(('\t'*indent) + url)
    resource = urlopen(url)
    content = resource.read().decode()
    collector = Collector(url)
    collector.feed(content)
    links = collector.getLinks()
    if depth > 0:
        for link in links:
            webdir(link, depth-1, indent+1)

In [23]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		http://reed.cs.depaul.edu/lperkovic/test4.html
	http://reed.cs.depaul.edu/lperkovic/test3.html
		http://reed.cs.depaul.edu/lperkovic/test4.html

# Problem 8:

In [25]:
import sqlite3
connector = sqlite3.connect('DPPS-2')
curs=connector.cursor()

curs.execute("CREATE TABLE Weather (City text, Country text, Season text, Temperature real, Rainfall real)")
curs.execute("INSERT INTO Weather VALUES ('Mumbai','India','Winter',24.8,5.9),('Mumbai','India','Spring',28.4,16.2)")
curs.execute("INSERT INTO Weather VALUES  ('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346.0)")
curs.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6)")
curs.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Summer',15.7,157.0),('London','United Kingdom','Fall',10.4,218.5)")
curs.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5)")
curs.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)")
             

connector.commit()

In [26]:
# a.)

curs.execute('SELECT Temperature FROM Weather')
curs.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [27]:
# b.)

curs.execute('SELECT DISTINCT City FROM Weather')
curs.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [28]:
# c.)

curs.execute("SELECT * FROM Weather WHERE Country == 'India'")
curs.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [29]:
# d.)

curs.execute("SELECT * FROM Weather WHERE Season == 'Fall'")
curs.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [30]:
# e.)

curs.execute("SELECT City, Country, Season FROM Weather WHERE Rainfall >= 200 AND Rainfall <= 400")
curs.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [31]:
# f.)

curs.execute("select City,Country from Weather where Season = 'Fall' and Temperature > 20 order by Temperature ")
curs.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [32]:
# g.)

curs.execute("SELECT SUM(Rainfall) FROM Weather WHERE City == 'Cairo'")
curs.fetchall()

[(27.6,)]

In [33]:
# h.)

curs.execute("SELECT Season, SUM(Rainfall) FROM Weather GROUP BY Season")
curs.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Problem 9:

In [34]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [35]:
print([x.upper() for x in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [36]:
print([x.lower() for x in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [37]:
print([len(x) for x in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [38]:
print([[x.upper(), x.lower(), len(x)] for x in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [39]:
# In problem set 2 ques 9e the ques asked for words with 4 or more characters but the sample had words with even less 
# characters, So I sticked with the 4 ore more characters as specified in question

print([x for x in words if len(x) >= 4])

['quick', 'brown', 'jumps', 'over', 'lazy']